*.iml
*.hprof
.gradle/
.idea/
local.properties
build/
captures/
build-cache/
build-cache.lock
build.gradle
sonar-scanner.properties
gradle.properties
settings.gradle

.project
.classpath
.settings/
.BuildConfig/
.externalNativeBuild/